numpy
gym[box2d]==0.21.0 # getting weird errors with gym 0.24
pygame # unlisted dependency of gym

#### GridDrive stuff # unlisted dependencies
scipy
#numpy==1.19.5
matplotlib
pyglet==1.5.11 # fixing rendering